body{
  margin:0;
}
h3{
  font-weight: 700;
  font-size: 2rem;
}
h3 .h3-span{
  color: hsl(277, 64%, 61%);
}
p{
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 15%;
}

.text-container{
  background-color: hsl(244, 38%, 16%);
  color: hsl(0, 0%, 100%);
  font-family: 'Inter' , sans-serif;
  font-size: 15px;
  text-align: left;
  box-sizing: border-box;
  padding: 2.5% 10% 2.5% 7%;
  border-radius: 2% 0 0 2%;
}
.image-container{
  background-image: url(images/image-header-mobile.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0 2% 2% 0;
}
.overlay{
  background-color: hsl(277, 64%, 61%);
  position: absolute;
  opacity: 0.4;
  right: 9%;  /*lets the div fall exactly on top of the image-div*/
  border-radius: 0 2% 2% 0;
  max-width: 50%;
}
.div-size{
  width: 553.095px;
  height: 400px;
}
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9%;
  background-color: hsl(233, 47%, 7%);
  position: relative;
}


.anch-btn{
  font-family: 'Lexend Deca' , sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
  margin-right: 16%;
  text-transform: uppercase;
  font-size: 12px;
}
.anch-btn:last-child{
  margin-right:0;
}
.anch-span{
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  display: block;
  font-weight: bold;
  padding-bottom: 6%;
}
.attribution{
  padding: 5%;
}

.attribution a{
  font-size:11px;
  font-family: 'Lexend Deca' ,sans-serif;
}
.attribution a:last-child{
  color: hsl(244, 38%, 16%);
  font-size: 15px;
}

@media (max-width:1000px) {
  body{
    text-align: center;
  }
  .main-container{
    display: block;
    margin: 0 auto;
    position: relative;
    /* padding: 0 15%; */
  }

  .text-container{
    height: auto;
    margin: auto;
    border-radius: 0 0 2% 2%;
    text-align: center;
  }
  .image-container{
    margin: 0 auto;
    /* height: auto; */
    border-radius: 2% 2% 0 0;
    bottom: 100%;
  }
  .anch-btn{
    display:block;
    margin: 0 auto;
  }

}
